
# Environnement virtuel (très important)
dbt-dev/
venv/
**/Scripts/
**/Lib/
**/Include/
pyvenv.cfg

# dbt
target/
dbt_packages/
logs/

# Divers
.user.yml
installation.txt


Cordialement,
Said TAIBOUBI | CGI
Parc Sextant - Batiment A, 
6-8 Rue des Satellites, 33185 Le Haillan

